.callout {
  width: 100%;
  height: 100%;
  background-image: url("/images/background.jpeg");
  background-size: cover;
  color: #EEE;
  display: table;
}

.callout-panel {
  max-width: 600px;
  border-radius: 4px;
  background-color: rgba(0,0,0, .25);
  margin: 0 auto;
  padding: 20px;
}

.callout-panel_title {
  text-align: center;
}

.callout-panel_description {
  text-align: center;
}

.callout-wrapper {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 0 60px;
}

.callout a {
  color: #EEE;
}

.sidebar {
  height: 100%;
}

.blog {
  background-image: url("/images/background.jpeg");
  background-size: cover;
}

.content {
  height: 100%;
  overflow: auto;
}

.post, .post-summary {
  background: white;
  padding: 40px 20px;
  box-sizing: border-box;
}

a.see-through {
  background-color: rgba(0,0,0,0);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

a.see-through:hover {
  background-color: rgba(255,255,255,.2);
}